.not-lined {
    text-decoration: none;
    font-size: 23px;
    color:grey;
    font-family: sans-serif;
}

.lined{
    text-decoration: line-through;
    font-size: 23px;
    color:grey;
    font-family: sans-serif;
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;

}

.Item{
    list-style: none;
    display: flex;
    margin-bottom: 35px;
    
}
.btn-complete{
    margin-right: 3px;
    height: 37px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 16px;
    color: grey;
    font-family: sans-serif;
    background-color: inherit;
    border: solid rgb(135, 135, 135) 1px;
    border-radius: 2px;
}

.btn-Delete{
    margin-right: 3px;
    height: 37px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    color: grey;
    font-family: sans-serif;
    margin-right: 40px;
    background-color: inherit;
    border: solid rgb(135, 135, 135) 1px;
    border-radius: 2px;
}


